* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.sub-container {
  background-color: rgb(230, 228, 228);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 5px;
  margin-top: 250px;
}

.form-container {
  border-bottom: 1px solid #b0aaaa;
  padding: 5px 0;
}

.form-fields {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.form-fields label {
  min-width: 150px;
  padding-right: 10px;
  font-weight: bold;
}

.form-fields input[type="text"],
.form-fields input[type="number"],
.form-fields input[type="date"],
.form-fields select,
.form-fields textarea {
  flex: 1;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.form-fields textarea {
  resize: vertical;
}

.save__btn {
  text-align: center;
  margin-top: 20px;
}

.savebtn {
  background-color: rgb(9, 168, 168);
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.savebtn:hover {
  background-color: rgb(5, 121, 121);
}
