.event-data-wrapper {
    padding: 64px 0px;
    .data-container {
        max-width: 1000px;
        margin: auto;

        table {
            tr {
                width: 36px;
                text-align: center;
                padding: 12px 0px;
                border: none;
            }
            th,
            td {
                border: 1px solid rgb(202, 202, 202);
                padding: 12px 0px;
                width: 100px;
            }
            th {
                background: rgb(230, 228, 228);
            }
        }
        .edit-icons {
            font-size: 1.8rem;
            color: green;
            cursor: pointer;
        }
        .delete-icons {
            font-size: 1.8rem;
            color: rgb(229, 22, 22);
            cursor: pointer;
        }
        .select-container {
            width: 100%;
            display: flex;
            justify-content: end;
            margin-bottom: 15px;
            .select-box {
                width: 200px;
                background: rgb(230, 228, 228);
                border-radius: 5px;
                border: none;
                padding: 10px;
            }
            h4 {
                padding: 15px;
            }
        }
        h2 {
            margin: 2rem;
            display: flex;
            justify-content: center;
        }
    }
}
